body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  width: 60%;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

#recommendations {
  margin: 40px auto;
  width: 60%;
}

#amazon-links {
  margin: 40px auto;
  width: 60%;
}

h2 {
  margin-top: 0;
}